:root {
  --shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  --bg-color: #f6f9fc;
  --column-space--double: 40px;
  --column-space: 20px;
  --row-space: 4px;
  --darkgray: rgb(100, 100, 100);
}

body {
  background-color: var(--bg-color);
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--column-space) 0;
}

.canvas {
  width: 600px;
  height: 600px;
  background-color: white;
  border-radius: 12px;
  margin-bottom: var(--column-space--double);
  box-shadow: var(--shadow);
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* range */
.controls__range {
  margin-bottom: var(--column-space);
}
.controls__range input {
  width: 170px;
}

/* button */
.controls__btns {
  margin-bottom: var(--column-space);
  color: var(--darkgray);
}
.controls__btn {
  all: unset;
  cursor: pointer;
  background-color: white;
  padding: 8px 0;
  margin: 0 var(--row-space);
  width: 80px;
  text-align: center;
  border-radius: 20px;
  box-shadow: var(--shadow);
  text-transform: uppercase;
}
.controls__btn:active {
  transform: scale(0.96);
}

/* color */
.controls__colors {
  display: flex;
}
.controls__color {
  width: 50px;
  height: 50px;
  margin: 0 var(--row-space);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: var(--shadow);
}
